<div class="main">
    <div class="img">
        <img src="/assets/DISEÑOS WEB CEAPRO/Materiales e iconos/LIBRO.png" id="foto">
    </div>
    <div class="text">
        <div class="subtitle">
            <p>Nuestra Visión</p>
        </div>
        <div class="paragraph">
            Ser reconocidos como la academia líder en la formación para oposiciones en Andalucia y referente a nivel nacional.
Nuestra aspiración va más allá de la preparación académica; buscamos inspirar a cada estudiante para que alcance su máximo potencial, contribuyendo de manera activa a la excelencia en la administración pública.
Proporcionamos servicios de alta calidad, tanto presenciales como digitales, adaptandonos a las necesidades individuales de nuestros estudiantes.
        </div>
    </div>
</div>