.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(243, 246, 251);
    width: 75%;
    height: fit-content;
    border-radius: 50px;
    margin-left: 12%;
}
.img{
    align-items: center;
}
#foto{
    width: 40rem;
    height: 30rem;
}
.subtitle{
    font-size: 2rem;
}
.paragraph{
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align:left;
    width: 65%;
    font-size: 1rem;
    font-weight: 100;
}