<div class="main">
    <div class="text">
        <h1>¡Quiero prepararme con vosotros!</h1>
        <p>Quiero saber mas sobre la metodologia cedoro o sobre
            vuestros resultodos en oposiciones</p>
    <div class="btns">
        <a href="#" class="metodo">Metodo Ceapro</a>
        <a href="#" class="resultados">Resultados</a>
    </div>
    </div>
    <div class="img">
        <img class="foto" src="/assets/DISEÑOS WEB CEAPRO/Materiales e iconos/Icono Registro.png" alt="">
    </div>
</div>