<p class="title">Nuestros Valores</p>
<div class="main">
        <div class="odd">
            <p class="subtitle">1. Excelencia Educativa</p> 
                <p>Ofrecer una formación de alta calidad, basada en el<br>
                conocimento actualizado y las mejores practicas<br>
                pedagogicas.</p>
            <p class="subtitle">3. Experienca y Profesionalidad</p>
                <p>
                    Nuestros protesores, todos ellos funcionarios, aportan una<br>
                    valiosa experiencia y conocimiento de la materia,<br>
                    garantizando una formación de primer nivel.
                </p>

            <p class="subtitle">5. Integridad y Transparencia</p>
                <p>Actiamos con honestitad, ética y transparencia en todas<br>
                    nuestras interacciones, manteniendo la confienza de<br>
                    nuestros estudiantes y colaboradores.</p>

            
            <p class="subtitle">7. Compromiso con la comunidad</p>
                <p>Contribuimos al desarrollo de una administración pública<br>
                    eticiente y de ala caliaaa, formando protesionales<br>
                    comprometidos con el servicio publico.</p>

        </div>
        <div class="even">
            <p class="subtitle">2. Personalizacion y Adaptabilidad</p>
                <p>Diseñamos programos de formación a medida,<br>
                adaptados a las necesidades especificas de cada <br>
                oposicion.</p>
            <p class="subtitle">4. Compromiso con el Exito del Estudiante</p>
                <p>
                    Nos dedicamos a apoyar a nuestros estudiantes en cada<br>
                    etapa de su preparación, proporcionando orientación y<br>
                    recursos para asegurar su exito en las oposiciones.
                </p>

            <p class="subtitle">6. Innovación y Actualización continua</p>
                <p>Nos manenemos a la vanguar dia en metodos educativos<br>
                    y tecnologia. para ofrecer una tormación actualizada y<br>
                    relevante</p>

        </div>
</div>