.mainPage{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.title{
    display: flex;
    font-size: 2rem;
    justify-content: center;
}
.subtitle{
    font-size: 2rem;
}
.paragraph{
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align:left;
    width: 65%;
    font-size: 1rem;
    font-weight: 100;
}
#foto{
    width: 40rem;
    height:30rem;
}
.text{
    margin-left: 10rem;
}
