<div class="mainPage">
    <p class="title">
        CEAPRO: Misión, visión y valores
    </p>
    <p class="subtitle">
        Nuestra Misión
    </p>
    <p class="paragraph">
        En Ceapro destacamos por formar a futuros funcionarios mediante una educación personalizada y de calidad. Contamos con profesores con experiencia en el ámbito público y altamente capacitados. Nuestra mision es guiar a los estudiantes hacia el éxito en sus oposiciones, brindándoles las herramientas y el apoyo necesarios para alcanzar sus metas profesionales. Nos enfocamos en proporcionar una preparación exhaustiva, un ambiente de aprendizaje interactivo y un sólido sistema de apoyo academico y motivacional. En Ceapro, nos comprometemos a formar líderes capaces de marcar la diferencia en el servicio público.
    </p>
    <img src="" alt="">
</div>