<div class="main">
    <div class="left">
        <p class="contactar">CONTACTAR</p>
        <p class="llamar">LLAMAR al 954 70 70 00</p>
        <p class="dudas">Enviar tus dudas</p>
            <p class="subtitle">Dirección</p>
            <p class="txt">Avecia de Roino Unido 9, Edificio Sevilla Sur, Planta 4ª, <br> Izquierda 41012, Sevilla</p>
            <p class="subtitle">Correo</p>
            <p class="txt">secreteria&#64;ceapro.es</p>
    </div>
    <div class="right">
        <p class="aRapido">ACCESO RÁPIDO</p>
        <div class="palabras">
            <div class="firstCol">
                <a class="sCeapro" href="#" target="_blank" rel="noopener noreferrer">Sobre ceapro</a>
                <p class="somos">¿Quiénes somos?</p>
                <p class="metodo">Metodo Ceapro</p>
                <p class="cursos">Cursos</p>
            </div>
            <div class="secndCol">
                <p class="resultados">Nuestros resultados</p>
                <p class="preguntas">Preguntas frecuentes</p>
                <p class="cookies">Política de cookies</p>
                <p class="privacidad">Política de privacidad</p>
            </div>
            <div class="terzCol">
                <p class="blog">Blog</p>
                <p class="avisoLegal">Aviso Legal</p>
            </div>
        </div>
    </div>
</div>