<div class="main">
    <div class="left">
        <p class="contactar">CONTACTAR</p>
        <p class="llamar">LLAMAR al 954 70 70 00</p>
        <p class="dudas">Enviar tus dudas</p>
        <div class="direccion">
            <p class="subtitle">Dirección</p>
            <p class="txt">Avecia de Roino Unido 9, Edificio Sevilla Sur, Planta 4ª, <br> Izquierda 41012, Sevilla</p>
        </div>
        <div class="correo">
            <p class="subtitle">Correo</p>
            <p class="txt">secreteria&#64;ceapro.es</p>
        </div>
    </div>
    <div class="right">

    </div>
</div>